.header{
	text-align: center;
	font-size: 20px;
	font-family: helvetica;
}

#chatbox{
	width: 90%;
	height: 20em;
	border: solid 4px black;
	text-align: center;
	margin: 10px auto;
	overflow: scroll;



}

#usernamebox {
	text-align: center;
}
#messagebox {
	text-align: center;
}
#submit {
	text-align: center;
}



